.productGrid {
    display: grid;
	margin-top: 3rem;
	grid-template-columns: repeat(4, 1fr);
}

.productImage {
    width: 50%;
}

.productName {
    margin-left: 2rem;
	margin-top: 2rem;
	font-size: 1.7rem;
}

.productInfo {
    margin-left: 2rem;
	margin-top: 2rem;
	font-weight: bold;
	text-shadow: 2px 2px 2px #eee;
}

.productPrice {
    margin-left: 2rem;
	margin-top: 2rem;
	font-weight: bold;
	text-shadow: 2px 2px 2px #eee;
}